<link ref="stylesheet" href="app.css" xmlns:html="http://www.w3.org/1999/html">
<html>
<head>
</head>

<body style="text-align:center;
    text-shadow: 0.05rem .1rem rgba(0, 0, 0, .5);
    font-family: 'Roboto', sans-serif;
    color: rgb(66, 69, 86);
    height: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHlbTMglooMJeW5-MvnJEhiPHLI_zIbsCy36mtbqj3jA&s");
    background-size: cover;">
<div style="display: flex; justify-content: center; flex-direction: column; height: 100%;">
    <div>

        <h1 style="margin: 0; font-size: 500px; line-height: 400px; font-weight: 100;">JOIN US</h1>

        <p style=" margin: 0; font-size: 50px; font-weight: 100;">Enter your to mail to join <strong><%=got%></strong>  others on our waitlist. We are 100% not a cult.</p>

        <form method="post" action="register" style="line-height: 1.5; border: none; border-bottom: 3px solid #ebebeb; margin-top: 100px; width: 700px; font-size: 2.9em; color: white; padding: 5px 10px; background: transparent;">
            <input type="text" name="email" class="form" placeholder="Enter Email here">

            <button style=
                    "::-webkit-input-placeholder{/* Chrome/opera/safari*/color: rgba(255, 255, 255, 0.8);}"
                    "button:hover{opacity:1};"
                    "line-height: 2.0; border: none; border: 3px solid white; font-size: 1.9em; color: rgb(66, 69, 86); padding: 5px 30px; background: rgba(255, 255, 255, 1.6); border-radius: 5px; opacity: 0.8;">JOiN Us</button>
        </form>
    </div>
</div>
</body>

</html>
